<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="LocalConnectionString" providerName="System.Data.SqlClient" connectionString="Data Source=PC1510\LOCALSQL; Initial Catalog=TestDB;Integrated Security=True;Application Name=SqlReader" />
  </connectionStrings>
  <appSettings>
    <add key="Root"  value = "C:\temp"/>
    <add key="RootFolder"  value = "sqlrunner"/>
    <add key="DestinationFolder" value = "SERVER01.domain.com"/>
  </appSettings>
</configuration>